<!--The content below is only a placeholder and can be replaced.-->
<mat-menu #smMenu="matMenu" [overlapTrigger]="true">
  <button mat-button i18n routerLink="/home">回到顶部</button>
  <button mat-menu-item i18n routerLink="/home" fragment="can-do">我们能做什么</button>
  <button mat-menu-item i18n routerLink="/home" fragment="work-flow">我们的工作流程</button>
  <button mat-menu-item i18n routerLink="/home" fragment="why-us">为什么选择我们</button>
</mat-menu>
<mat-toolbar color="primary" class="hi-nav-bar mat-elevation-z7" [ngStyle.lt-sm]="{'padding-left':'1vw'}">
  <button fxHide fxShow.lt-sm mat-icon-button [matMenuTriggerFor]="smMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>"人工智能"微任务众包平台</span>
  <span class="hi-spacer"></span>
  <button fxHide.lt-sm i18n mat-button routerLink="/home" fragment="can-do">我们能做什么</button>
  <button fxHide.lt-sm i18n mat-button routerLink="/home" fragment="work-flow">我们的工作流程</button>
  <button fxHide.lt-sm i18n mat-button routerLink="/home" fragment="why-us">为什么选择我们</button>
  <!--<button fxHide.lt-sm mat-button i18n routerLink="/login">登录/注册</button>-->
</mat-toolbar>
<router-outlet></router-outlet>

