<section id="slogan">
  <div class="slogan-title bigger">您的需求就是我们的追求</div>
  <div class="slogan-title smaller">专为远程需求而设计</div>
  <button mat-raised-button color="primary">现在开始使用</button>
</section>

<section id="can-do">
  <div class="section-title">我们能做什么</div>
  <div class="section-content" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <img class="poster" src="assets/img/can-do/video-micro-task/video-micro-task.png">
      <div class="title">视频微任务</div>
      <div class="content">视频微任务是指以视频为处理单位，且单次处理时长不超过五分钟的视频处理任务。</div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <img class="poster" src="assets/img/can-do/img-micro-task/img-micro-task.png">
      <div class="title">图片微任务</div>
      <div class="content">图片微任务是指以一张或多张图片为处理单元，且单次处理时长不超过5分钟的处理任务。</div>
    </div>
  </div>
  <div class="section-footer">
    本平台专为需要通过视频或者图片<b>远程解决的问题场景</b>设计。 使用场景包含但不限于：
    <br><b>数据标注</b>、<b>视频图像处理</b>、<b>视频行为判断</b>等。
  </div>

</section>

<section id="work-flow">
  <div class="section-title">我们的工作流程</div>
  <div class="section-img-content" fxLayout="row" fxLayoutAlign="space-around center">
    <img src="assets/img/work-flow/flow1.svg">
    <img src="assets/img/work-flow/flow2.svg">
    <img src="assets/img/work-flow/flow3.svg">
  </div>

  <div class="section-subject">作为客户，从服务开始到完成只需四步</div>

  <div class="section-flow-content" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-fab color="primary">
      <span>第一步</span>
      <span>留下联系方式</span>
    </button>
    <button mat-fab color="primary">
      <span>第二步</span>
      <span>沟通细节</span>
    </button>
    <button mat-fab color="primary">
      <span>第三步</span>
      <span>上传视频或图片</span>
    </button>
    <button mat-fab color="primary">
      <span>第四步</span>
      <span>等待人工处理结果</span>
    </button>
    <button mat-fab class="finish">
      <span>完成</span>
      <span>收到结果并支付费用</span>
    </button>
  </div>
  <div class="view-example" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-flat-button>查看案例</button>
  </div>

</section>

<section id="why-us">
  <div class="section-title">为什么选择我们</div>
  <div class="section-content" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <img class="poster" src="assets/img/why-us/fast-boot.svg">
      <div class="title">快速启动</div>
      <div class="content">无需开发任何复杂系统，需求分析结束后即可快速启动。</div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <img class="poster" src="assets/img/why-us/save-money.svg">
      <div class="title">节约资金</div>
      <div class="content">无需花费大量资金开发人工智能系统，无需标注数据，无需购买维护服务器等硬件设备，只需按量支付任务薪酬即可，开发费用全免。</div>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <img class="poster" src="assets/img/why-us/zero-risk.svg">
      <div class="title">零风险</div>
      <div class="content">只要客户需求清晰，其他工作都由平台承担，且数据全部加密存储。</div>
    </div>
  </div>
  <div class="start-now" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-raised-button color="accent">现在开始使用</button>
  </div>

</section>
